/* Roboto Google Font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100vh;
}
  
body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}

/* Layout */

.library-container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
}

/* Header */

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-items: center;
    background: #64748b;
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    color: #cbd5e1;
}

.add-book {
    justify-self: end;
}

#addBookButton {
    width: 55px;
    height: 55px;
    border: none;
    background: none;
    cursor: pointer;
}